html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, 
.btn:active:focus, 
.btn-link.nav-link:focus, 
.form-control:focus, 
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 250px;
    min-height: 400px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 1.1em;
    margin-bottom: 8px;
    color: #333;
}

.product-item p {
    font-size: 0.9em;
    color: #666;
}

.product-item .price {
    font-weight: bold;
    font-size: 1.1em;
    color: #007bff;
    margin-top: auto;
}

.product-item .description {
    overflow: hidden
}

.product-item button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
}

.product-item button:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

.product-item button:active {
    background-color: #003f7f;
    transform: scale(1);
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 5px;
}

.pagination a {
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    text-decoration: none;
    color: #007bff;
    transition: background-color 0.3s ease;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination a:hover {
    background-color: #0056b3;
    color: white;
}

.cart-icon {
    position: fixed;
    top: 8px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-icon:hover {
    background-color: #0056b3;
    color: white;
}

.cart-item-count {
    height: 25px;
    width: 25px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}